# Dados Utilizados

Para a realização deste projeto, foi necessário utilizar alguns conjuntos de dados de domínio público. Nesta seção iremos entrar em mais detalhes sobre as bases utilizadas.

In [1]:
import pandas as pd
import re

### Gun Violence

DESCRIÇÃO

Fonte: [Gun Violence Data - James Ko](https://www.kaggle.com/jameslko/gun-violence-data)

In [2]:
# Load dataset
gun_violence = pd.read_csv('../databases/gun_violence.zip', compression='zip')
gun_violence.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

### State Population Totals and Components of Change: 2010-2018

DESCRIÇÃO

Fonte: [United States Census Bureau](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html)

In [3]:
# Load dataset
population = pd.read_csv('../databases/nst-est2018-alldata.zip', compression='zip')
population.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2017,RDOMESTICMIG2018,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018
0,10,0,0,0,United States,308745538,308758105,309326085,311580009,313874218,...,0.000000,0.000000,2.553948,2.746049,2.701727,2.988276,3.328598,3.321549,2.941086,3.001086
1,20,1,0,0,Northeast Region,55317240,55318430,55380645,55600532,55776729,...,-5.651919,-5.222289,0.845134,0.040762,-0.397011,-0.923951,-2.011735,-2.430459,-1.801582,-1.127222
2,20,2,0,0,Midwest Region,66927001,66929743,66974749,67152631,67336937,...,-2.370672,-2.301663,-1.043009,-0.896575,0.042505,-0.715656,-1.357662,-1.226811,-0.519621,-0.431833
3,20,3,0,0,South Region,114555744,114563045,114867066,116039399,117271075,...,2.963135,2.779373,5.379667,5.836112,5.290067,6.206402,7.328494,7.225046,6.252425,6.148925
4,20,4,0,0,West Region,71945553,71946887,72103625,72787447,73489477,...,1.478565,1.350094,2.689358,3.226360,3.343874,4.148127,5.127995,5.372314,4.164981,3.965769

### Gun Laws

DESCRIÇÂO

Fonte:

In [4]:
# Load dataset
gun_laws = pd.read_csv('../databases/gun_laws.zip', compression='zip')
gun_laws.head()

,state,Red Flag Laws,Relinquishment Laws,Assault Weapon Ban,High-Capacity Magazine ban,Prohibition for high-risk individuals,Prohibitions for individual with domestic violence covictions,Mandatory universal background checks
0,Alabama,0,0,0,0,1,1,0
1,Alaska,0,0,0,0,1,0,0
2,Arizona,0,0,0,0,1,1,0
3,Arkansas,0,0,0,0,1,0,0
4,California,1,1,1,1,1,1,1

### Gun Register

DESCRIÇÃO

Fonte:

In [5]:
# Load dataset
gun_register = pd.read_csv('../databases/gun_register.zip', compression='zip')
gun_register.head()

             state  guns_per_capita  guns_registered
0          Wyoming           229.24          132.806
1  Washington D.C.            68.05           47.228
2    New Hampshire            46.76           64.135
3       New Mexico            46.73           97.580
4         Virginia            36.34          307.822

# Limpeza dos Dados

As bases de dados selecionadas possuem alguns dados nos quais não estamos interessados e que podemos remover para melhorar o desempenho e facilitar o trabalho.
Além disso algumas estão faltando informações ou possuem uma formatação não muito adequada

### Gun Violence

In [6]:
# Drop unnecessary columns
gun_violence = gun_violence[[
    'incident_id',
    'date',
    'state',
    'n_killed',
    'n_injured',
    'gun_stolen',
    'gun_type',
    'n_guns_involved',
    'participant_age',
    'participant_age_group',
    'participant_gender',
    'participant_type'
]]

In [7]:
# Drop missing values
gun_violence.dropna(inplace=True)
gun_violence.reset_index(drop=True, inplace=True)

In [8]:
# Change date formatting
gun_violence['year'] = pd.to_numeric(gun_violence['date'].map(lambda x: x[0:4]))
gun_violence['month'] = gun_violence['date'].map(lambda x: x[5:7])
gun_violence['day'] = gun_violence['date'].map(lambda x: x[8:10])
gun_violence.drop(columns='date', inplace=True)

In [9]:
# Drop all incidents before 2014 and after 2017
indexNames = gun_violence[(gun_violence['year'] < 2014) | (gun_violence['year'] > 2017) ].index
gun_violence.drop(indexNames, inplace=True)

In [10]:
# Change formatting on gun_stolen, gun_type, participant_age, etc.
gun_violence['gun_stolen'] = gun_violence['gun_stolen'].map(lambda x: re.findall(r'[a-zA-Z]+', x))
gun_violence['gun_type'] = gun_violence['gun_type'].map(lambda x: re.findall(r'[a-zA-Z]+', x))
gun_violence['participant_age'] = gun_violence['participant_age'].map(lambda x: re.findall(r'[0-9]+', x)[1::2])
gun_violence['participant_age_group'] = gun_violence['participant_age_group'].map(lambda x: re.findall(r'[a-zA-Z]+', x))
gun_violence['participant_gender'] = gun_violence['participant_gender'].map(lambda x: re.findall(r'[a-zA-Z]+', x))
gun_violence['participant_type'] = gun_violence['participant_type'].map(lambda x: re.findall(r'[a-zA-Z-]+', x))

gun_violence.head()

,incident_id,state,n_killed,n_injured,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_type,year,month,day
95,854799,Florida,0,0,[Unknown],[Unknown],1.0,"[31, 32]","[Adult, Adult]","[Male, Male]","[Subject-Suspect, Subject-Suspect]",2014,01,01
96,98134,Louisiana,1,0,[Unknown],[Unknown],1.0,"[31, 24]","[Adult, Adult]","[Male, Male]","[Victim, Subject-Suspect]",2014,01,01
97,92563,Mississippi,1,0,[Unknown],[Unknown],1.0,"[6, 13]","[Child, Teen]","[Female, Male]","[Victim, Subject-Suspect]",2014,01,01
98,97976,Hawaii,1,0,[Unknown],[Unknown],1.0,"[88, 41]","[Adult, Adult]","[Male, Male]","[Victim, Subject-Suspect]",2014,01,01
99,92117,Kentucky,0,1,[Unknown],[Unknown],1.0,[22],"[Adult, Adult]","[Male, Male]","[Victim, Subject-Suspect]",2014,01,01

### Population

In [11]:
# Drop unnecessary columns
population = population[[
    'NAME',
    'POPESTIMATE2014',
    'POPESTIMATE2015',
    'POPESTIMATE2016',
    'POPESTIMATE2017'
]]

# Rename columns
population.columns = ['state', '2014', '2015', '2016', '2017']

population = population[5:56].reset_index(drop=True)
population['mean'] = population.drop(['state'], axis=1).mean(axis=1)

population.head()

        state      2014      2015      2016      2017         mean
0     Alabama   4842481   4853160   4864745   4875120   4858876.50
1      Alaska    736307    737547    741504    739786    738786.00
2     Arizona   6733840   6833596   6945452   7048876   6890441.00
3    Arkansas   2967726   2978407   2990410   3002997   2984885.00
4  California  38625139  38953142  39209127  39399349  39046689.25

### Participantes

Vamos criar um novo data frame com informações dos participantes dos incidentes para podermos trabalhar melhor.

In [12]:
# Create new Data Frame for participants
participants = []
for index, row in gun_violence.iterrows():
    for age, group, gender, p_type in zip(row['participant_age'], row['participant_age_group'], row['participant_gender'], row['participant_type']):
        participants.append([row['incident_id'], age, group, gender, p_type])

participants = pd.DataFrame(participants, columns=['incident_id', 'participant_age', 'participant_age_group', 'participant_gender', 'participant_type'])

participants.head()

,incident_id,participant_age,participant_age_group,participant_gender,participant_type
0,854799,31,Adult,Male,Subject-Suspect
1,854799,32,Adult,Male,Subject-Suspect
2,98134,31,Adult,Male,Victim
3,98134,24,Adult,Male,Subject-Suspect
4,92563,6,Child,Female,Victim

### Estatísticas por Estado

Vamos criar um novo data frame com estatísticas dos incidentes por Estado.

In [13]:
incidents_state = gun_violence.groupby('state')\
                  .agg({'n_injured':'sum', 'incident_id':'count', 'n_killed':'sum'})\
                  .rename(columns={'incident_id':'n_incidents'})\
                  .sort_values('state')\
                  .reset_index()

states = pd.merge(incidents_state, population[['state','mean']], on='state')
states.rename(columns={'mean': 'population'}, inplace=True)
states['injured_per_capita'] = states['n_injured']/states['population'] * 100000 / 4
states['incidents_per_capita'] = states['n_incidents']/states['population'] * 100000 / 4
states['killed_per_capita'] = states['n_killed']/states['population'] * 100000 / 4

for year in range(2014, 2018):
    incidents_year = gun_violence[gun_violence['year'] == year]
    states_year = incidents_year.groupby('state')\
                  .agg({'n_injured':'sum', 'incident_id':'count', 'n_killed':'sum'})\
                  .rename(columns={'n_injured':f'n_injured_{year}','incident_id':f'n_incidents_{year}', 'n_killed':f'n_killed_{year}'})\
                  .sort_values('state')\
                  .reset_index()
    states_year[f'injured_per_capita_{year}'] = states_year[f'n_injured_{year}']/population[f'{year}'] * 100000
    states_year[f'incidents_per_capita_{year}'] = states_year[f'n_incidents_{year}']/population[f'{year}'] * 100000
    states_year[f'killed_per_capita_{year}'] = states_year[f'n_killed_{year}']/population[f'{year}'] * 100000
    states = pd.merge(states, states_year, on='state')

states = pd.merge(states, gun_register, on='state')
    
states.head()

,state,n_injured,n_incidents,n_killed,population,injured_per_capita,incidents_per_capita,killed_per_capita,n_injured_2014,n_incidents_2014,...,incidents_per_capita_2016,killed_per_capita_2016,n_injured_2017,n_incidents_2017,n_killed_2017,injured_per_capita_2017,incidents_per_capita_2017,killed_per_capita_2017,guns_per_capita,guns_registered
0,Alabama,614,1411,804,4858876.50,3.159167,7.259909,4.136759,47,124,...,8.345761,4.810119,354,812,493,7.261360,16.656000,10.112572,33.15,161.641
1,Alaska,105,557,153,738786.00,3.553126,18.848489,5.177413,7,25,...,28.725401,7.821940,35,198,60,4.731098,26.764497,8.110454,21.38,15.824
2,Arizona,323,776,550,6890441.00,1.171913,2.815495,1.995518,30,76,...,3.426703,2.562828,156,367,252,2.213119,5.206504,3.575038,25.61,179.738
3,Arkansas,511,993,378,2984885.00,4.279897,8.316903,3.165951,26,72,...,9.229504,3.344023,322,552,198,10.722621,18.381637,6.593413,26.57,79.841
4,California,1861,5180,2265,39046689.25,1.191522,3.316542,1.450187,70,219,...,3.876648,1.634823,953,2636,1167,2.418822,6.690466,2.961978,8.71,344.622

### Salvar dados limpos

In [14]:
# Save clean datasets
gun_violence.to_csv('../databases/gun_violence_clean.csv', index=False)
population.to_csv('../databases/population.csv', index=False)
participants.to_csv('../databases/participants.csv', index=False)
states.to_csv('../databases/states.csv', index=False)